*.class
target
*.iml
.idea
dts-new-subscribe-sdk.ipr
dts-new-subscribe-sdk.iws
localCheckpointStore*
src/test/java/com/aliyun/dts/subscribe/clients/YanmenConsumerDemo.java
src/test/java/com/aliyun/dts/subscribe/clients/YanmenConsumerDemo2.java
src/test/java/com/aliyun/dts/subscribe/clients/YanmenDistributedDTSConsumerDemo.java
src/test/java/com/aliyun/dts/subscribe/clients/MySQLUserMetaStore.java
dts-new-subscribe.log
.flattened-pom.xml
/client/
logs
